<!doctype html>
<html lang="en">

<head th:replace="layout/head :: head"></head>

<body data-topbar="colored">
    <div id="layout-wrapper">
        <header id="page-topbar" th:replace="layout/topbar :: topbar"></header>
        <div class="vertical-menu" th:replace="layout/menu :: menu"></div>

        <div class="main-content">
            <div class="page-content">
                <div class="page-title-box" style="background-color: #0c289a;color: white;">
                    <div class="container-fluid">
                        <div class="row align-items-center">

                        </div>

                    </div>
                </div>

                <!--<div class="page-content-wrapper">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->
                <div class="page-content-wrapper">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="page-content-wrapper">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-xl-12">
                                                        <div class="timeline" dir="ltr">
                                                            <div class="timeline-item timeline-left">
                                                                <div class="timeline-block">
                                                                    <div class="time-show-btn mt-0">
                                                                        <a href="#"
                                                                            class="btn btn-info w-lg">SOPORTE TECNICO</a>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="timeline-item">
                                                                <div class="timeline-block">
                                                                    <div class="timeline-box card">
                                                                        <div class="card-body">
                                                                            <div class="timeline-icon icons-md">
                                                                                <i class="uim uim-layer-group"></i>
                                                                            </div>
                                                                            <div
                                                                                class="d-inline-block py-1 px-3 bg-primary text-white badge-pill">
                                                                                <h3 class="text-white">Tecnico de Sistema</h3> 
                                                                            </div>
                                                                            <h3 class="mt-3 mb-2"><a href="#" 
                                                                                onclick="window.open('https://wa.me/59172933164');"><i class="mdi mdi-whatsapp" style="color:  green;"></i>
                                                                                +591 72933164</a></h3>
                                                                            
                                                                                <h3 class="mt-3 mb-2">Ing. Jesus Israel Condori Choquehuanca</h3>
                                                                            
                                                                            <div class="text-muted">
                                                                                <p class="mt-3 mb-0">Responsable de verificacion de datos</p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="timeline-item timeline-left">
                                                                <div class="timeline-block">
                                                                    <div class="timeline-box card">
                                                                        <div class="card-body">
                                                                            <div class="timeline-icon icons-md">
                                                                                <i class="uim uim-layer-group"></i>
                                                                            </div>
                                                                            <div
                                                                                class="d-inline-block py-1 px-3 bg-primary text-white badge-pill">
                                                                                <h3 class="text-white">Tecnico de Sistema</h3> 
                                                                            </div>
                                                                            <h3 class="mt-3 mb-2"><a href="#" 
                                                                                onclick="window.open('https://wa.me/59174725325');"><i class="mdi mdi-whatsapp" style="color:  green;"></i>
                                                                                +591 74725325</a></h3>
                                                                            
                                                                                <h3 class="mt-3 mb-2">Ing. Juan Carlos Mamani Laura</h3>
                                                                            
                                                                            <div class="text-muted">
                                                                                <p class="mt-3 mb-0">Responsable de Sistema y soporte técnico</p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>                                                            
                                                        </div>

                                                    </div>
                                                </div>
                                                <!-- end row -->

                                            </div>
                                            <!-- end container-fluid -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>


            </div>

            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            2023 © SIASE.
                        </div>
                        <div class="col-sm-6">
                            <div class="text-sm-right d-none d-sm-block">
                                Creado por <i class="mdi mdi-heart text-danger"></i> Juan Carlos
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

    </div>
    <div class="rightbar-overlay"></div>

    <!-- JAVASCRIPT -->
    <div th:replace="layout/pie :: pie"></div>

</body>

</html>