<!doctype html>
<html lang="en">

<head th:replace="layout/head :: head">


</head>
<link th:href="@{assets/libs/fullcalendar/fullcalendar.min.css}" rel="stylesheet" type="text/css" />
<link th:href="@{assets/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
<link th:href="@{assets/css/icons.min.css}" rel="stylesheet" type="text/css" />
<link th:href="@{assets/css/app.min.css}" rel="stylesheet" type="text/css" />
<style>
    .color-indicators {
        display: flex;
        flex-wrap: wrap;
        /* Permite que los elementos se envuelvan si el contenedor es demasiado estrecho */
        gap: 10px;
        /* Espacio entre los indicadores de colores y el texto */
    }

    .lugar-item {
        display: flex;
        align-items: center;
        /* Centra verticalmente */
        gap: 10px;
        /* Espacio entre el indicador de color y el texto */
    }

    .color-indicator {
        width: 20px;
        /* Ancho de los indicadores de colores */
        height: 20px;
        /* Altura de los indicadores de colores */
        border-radius: 50%;
        /* Forma redonda */
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
        /* Sombra ligera */
        cursor: pointer;
        /* Cambia el cursor al pasar el ratón */
        transition: transform 0.2s;
        /* Efecto de escala suave al pasar el ratón */
    }

    .text {
        font-size: 14px;
        /* Tamaño de fuente del texto */
        color: #333;
        /* Color del texto */
    }

    .color-indicator:hover {
        transform: scale(1.1);
        /* Efecto de escala al pasar el ratón */
    }

    .center-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .custom-btn {
        background-color: #4CAF50;
        /* Green background */
        border: none;
        /* Remove borders */
        color: white;
        /* White text */
        padding: 15px 32px;
        /* Some padding */
        text-align: center;
        /* Centered text */
        text-decoration: none;
        /* Remove underline */
        display: inline-block;
        /* Get the element to line up properly */
        font-size: 16px;
        /* Increase font size */
        margin: 4px 2px;
        /* Add some margin */
        cursor: pointer;
        /* Add a pointer cursor on hover */
        border-radius: 12px;
        /* Rounded corners */
        transition-duration: 0.4s;
        /* Make the transition smoother */
    }

    .custom-btn:hover {
        background-color: rgb(29, 76, 177);
        /* White background on hover */
        color: rgb(255, 255, 255);
        /* Black text on hover */
        border: 2px solid #419c44;
        /* Green border on hover */
    }

   
</style>

<body data-topbar="colored">
    <div id="layout-wrapper">


        <div style="background-color: #f8bd4f;">
            <div class="center-container">


                <div style="max-width: 100%; overflow: hidden; text-align: center;">
                    <img src="assets/images/calendario_titulo.png" style="width: 100%; max-width: 700px; height: auto;">
                </div>

                <button type="button" class="btn btn-xl custom-btn" data-toggle="modal"
                    data-target=".bd-example-modal-xl">Registrar Pre-Reserva</button>
                <div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog"
                    aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                    <div style="text-align: center;">  <p style="font-size: 24px; color: #2744b6; font-weight: bold;">FORMULARIO DE PRE-REGISTRO DE RESERVA</p></div>
                                  

                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <form th:action="@{/postPreReserva}" method="POST">

                                              

                                                    <div class="form-group row">
                                                        <label for="example-text-input"
                                                            class="col-md-4 col-form-label">Actividad a
                                                            realizar</label>
                                                        <div class="col-md-8">
                                                            <input class="form-control" type="text" id="actividad"
                                                                th:field="${actividad.descripcion_actividad}"
                                                                placeholder="Palabra Clave" required>
                                                        </div>
                                                    </div>

                                                    <div class="form-group row">
                                                        <label for="example-text-input"
                                                            class="col-md-4 col-form-label">Responsable</label>
                                                        <div class="col-md-8">
                                                            <input class="form-control" type="text" id="responsable" name="responsable"
                                                               
                                                                placeholder="Nombre de Responsable o Institución"
                                                                required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="example-text-input"
                                                            class="col-md-4 col-form-label">Número de Celular</label>
                                                        <div class="col-md-8">
                                                            <input class="form-control" type="text" id="celular" name="celular"
                                                               
                                                                placeholder="Contactos"
                                                                required>
                                                        </div>
                                                    </div>

                                                    <!-- <div class="form-group row">
                                                        <label for="example-text-input"
                                                            class="col-md-4 col-form-label">Instalación
                                                            Deportiva</label>
                                                        <div class="col-md-8">
                                                            <select class=" form-control select2" name="lugaresA" id="lugar"
                                                                required>
                                                                <option value="" selected>Seleccionar...
                                                                </option>
                                                                <option th:if="${l.estado_lugar !='X'}"
                                                                    th:each="l:${lugares}" th:value="${l.id_lugar}"
                                                                    th:text="${l.nombre_lugar}"></option>
                                                            </select>
                                                        </div>
                                                    </div> -->

                                                    <div class="form-group row justify-content-center">
                                                        <!-- <div class="col-md-1">
                                                            <br>
                                                            <button type="button" class="btn btn-primary btn-sm mt-3"
                                                                onclick="agregarInput()">
                                                                <i class="fas fa-plus"></i>
                                                            </button>
                                                        </div> -->

                                                        <div class="col-md-4">
                                                            <div>
                                                                <label class="col-form-label"
                                                                    style="color: black;">Fecha</label>
                                                                <input type="date" class="form-control" id="fechas"
                                                                    name="fechasA" required />

                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div>
                                                                <label class="col-form-label" style="color: black;">Hora
                                                                    inicio</label>
                                                                <input id="horaI2" type="time" class="form-control"
                                                                    name="horasI" required />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div>
                                                                <label class="col-form-label" style="color: black;">Hora
                                                                    fin</label>
                                                                <input id="horaF2" type="time" class="form-control"
                                                                    name="horasF" required />
                                                            </div>
                                                        </div>

                                                        <div class="col-md-3">
                                                            <label class="col-form-label" style="color: black;">Instalación Deportiva</label>
                                                            <select class=" form-control select2" name="lugaresA" id="instalacion"
                                                                required>
                                                                <option value="" selected>Seleccionar...
                                                                </option>
                                                                <option th:if="${l.estado_lugar !='X'}"
                                                                    th:each="l:${lugares}" th:value="${l.id_lugar}"
                                                                    th:text="${l.nombre_lugar}"></option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div id="contenedorInputs" class="mt-3">
                                                    </div>

                                                    <div class="form-group mt-4 text-center">
                                                        <button class="btn btn-primary waves-effect waves-light"
                                                            type="submit">Enviar</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="page-content">
                <div class="page-title-box" style="background-color: #f8bd4f; ">

                </div>
                <div class="page-content-wrapper">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div th:class="'alert alert-' + (${clase != null} ? ${clase} : info)"
                                            role="alert" th:if="${mensaje != null}">
                                            <h4 class="alert-body" th:text="${mensaje}"></h4>
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>

                                        <div class="color-indicators">
                                            <th:block th:each="luga : ${lugaresE}" th:if="${luga.estado_lugar != 'X' }">
                                                <div class="lugar-item">
                                                    <div th:style="'background-color:' + ${luga.color_lugar}"
                                                        class="color-indicator"></div>
                                                    <div class="text" th:text="${luga.nombre_lugar}"></div>
                                                </div>
                                            </th:block>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <!--col-xl-2 col-lg-3 col-md-4    col-xl-10 col-lg-9 col-md-8-->
                                            <div id="calendar" class="mt-4 mt-md-0"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="modalEvento" class="modal fade bs-example-modal-xl" tabindex="-1" role="dialog"
                            aria-labelledby="modalEvento" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-xl">
                                <div class="modal-content">
                                    <div class="modal-header bg-primary">
                                        <strong style="font-size: 24px;" class="text-white modal-title mt-0"
                                            id="myExtraLargeModalLabel"></strong>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form th:action="@{/cambiarFechaEventoLugar}" method="post">
                                            <input type="hidden" id="idDetalleActividad" name="idDetalleActividad">
                                            <input type="hidden" id="idLugar" name="idLugar">
                                            <input type="hidden" id="idSubDetAct" name="idSubDetAct">
                                            <div class="row mb-4">


                                                <div class="col-lg-4 mb-2 col-md-4">
                                                    <label for="fechaActividad" class="col-form-label">Nombre de la
                                                        Instalación Deportiva:
                                                    </label>
                                                    <div>
                                                        <select class="form-control select2" name="ilugaresA"
                                                            id="ilugaresA" disabled>
                                                            <option th:each=" l : ${lugaresE}" th:value="${l.id_lugar}"
                                                                th:text="${l.nombre_lugar}"></option>
                                                        </select>
                                                    </div>
                                                    <!-- <div >
                                                        <input type="datetime" class="form-control" id="lugarActividad" disabled>
                                                    </div> -->

                                                </div>
                                                <div class="col-lg-4 mb-2 col-md-2">
                                                    <label for="fechaActividad" class="col-form-label">Fecha de Reserva:
                                                    </label>
                                                    <div>
                                                        <input type="datetime" class="form-control" id="fechaActividad"
                                                            name="fechaActividad" disabled>
                                                    </div>

                                                    <!-- <div >
                                                        <input type="datetime" class="form-control" id="fechaActividad" disabled>
                                                    </div> -->
                                                </div>
                                                <div class="col-lg-2 mb-2 col-md-2">
                                                    <label for="horaInicio" class="col-form-label">Hora inicio: </label>
                                                    <div>
                                                        <input type="time" class="form-control" id="horaInicio"
                                                            name="horaInicio" disabled>
                                                    </div>
                                                    <!-- <div >
                                                        <input type="time" class="form-control" id="horaInicio" disabled>
                                                    </div> -->

                                                </div>
                                                <div class="col-lg-2 mb-2 col-md-2">
                                                    <label for="horaFin" class="col-form-label">Hora fin: </label>
                                                    <div>
                                                        <input type="time" class="form-control" id="horaFin"
                                                            name="horaFin" disabled>
                                                    </div>
                                                    <!-- <div th:if="${unidad.id_unidad_funcional!=1 }">
                                                        <input type="time" class="form-control" id="horaFin" disabled>
                                                    </div> -->

                                                </div>


                                                <div class="col-lg-4 mb-3 col-md-4">
                                                    <label for="observacion" class="col-form-label">Observacion:
                                                    </label>

                                                    <textarea class="form-control" rows="3" id="observacion" 
                                                        name="observacion" disabled></textarea>



                                                </div>


                                            </div>
                                            <!-- <div class="text-center" th:if="${unidad.id_unidad_funcional==1 }">
                                                <input class="btn btn-primary" type="submit" value="Actualizar">
                                            </div> -->
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    

                        <!-- MODAL DE REGISTRO PRE-RESERVA -->


                      
                 
                    </div>
                </div>
            </div>

            <div class="container-fluid" style="background-color: white; padding: 10px; margin: 10px 0;">
                <div class="row">
                    <div class="col-sm-6">
                        2024 © USIC.
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-right d-none d-sm-block">
                            UAP <i class="mdi mdi-heart text-danger"></i> DIGITAL
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>


    <div class="rightbar-overlay"></div>
    <!-- JAVASCRIPT -->
    <script th:src="@{assets/libs/datatables.net/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js}"></script>
    <script th:src="@{assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js}"></script>
    <script th:src="@{assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js}"></script>

    <script th:src="@{assets/libs/jquery/jquery.min.js}"></script>
    <script th:src="@{assets/libs/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{assets/libs/metismenu/metisMenu.min.js}"></script>
    <script th:src="@{assets/libs/simplebar/simplebar.min.js}"></script>
    <script th:src="@{assets/libs/node-waves/waves.min.js}"></script>

    <script src="https://unicons.iconscout.com/release/v2.0.1/script/monochrome/bundle.js"></script>

    <!-- plugin js -->
    <script th:src="@{assets/libs/moment/min/moment.min.js}"></script>
    <script th:src="@{/assets/libs/jquery-ui-dist/jquery-ui.min.js}"></script>
    <script th:src="@{/assets/js/app.js}"></script>

    <script th:src="@{assets/libs/fullcalendar/fullcalendar.min.js}"></script>
    <script th:src="@{assets/libs/fullcalendar/locale/es.js}"></script>

    <script th:src="@{assets/js/pages/calendar.init.js}"></script>
    <script>

        $(function () {

            $('#calendar').fullCalendar({
                locale: 'es'
            });

        });

    </script>


    <!-- <script type="">
            function modificarFechaHora(id_actividad) {
                var id_ac = id_actividad;
                //alert(id_pro);
                $.getJSON("/sacarLugarPorProgramacion", {
                    idActividad: id_ac,
                    ajax: 'true'
                }, function (data) {
                    var html = '<option value="">--Lugares--</option>';
                    var len = data.length;
                    for (var i = 0; i < len; i++) {
                        html += '<option value="' + data[i].id_lugar + '">'
                            + data[i].nombre_lugar + '</option>';
                    }
                    html += '</option>';
                    $('#idlugars').html(html);
                    $("#ModalFechaProgramacion").modal("show");
                });
            }
    </script>
    <script>
        function AgendarEvento(id_evento) {
            var id_ev = id_evento;

            $('#id_activida').val(id_ev);
            $("#nombre").text('Actividad # : ' + id_ev);
            $("#ModalPro").modal("show");
        }
    </script> -->

    <script type="text/javascript" th:inline="javascript">
        var contadorInputs = 0;
       
       function agregarInput() {
           var num = 0;
           
           let f = document.getElementById("fechas").value;
           let hi = document.getElementById("horaI2").value;
           let hf = document.getElementById("horaF2").value;
           let ins = document.getElementById("instalacion").value;
          
           contadorInputs++;
          
           // Crea un objeto Date con esa fecha
           let fecha = new Date(f);

           // Suma un día a la fecha
           fecha.setDate(fecha.getDate() + contadorInputs);

           // Formatea la fecha resultante como una cadena (por ejemplo, en formato ISO)
           let nuevaFecha = fecha.toISOString().split('T')[0];

           // Crear el contenido HTML como una cadena de texto con un id único
           var contenidoHTML = `
       <div class="form-group row justify-content-center">
           <div class="col-md-1 mt-1">
               <button class="btn btn-danger btn-sm" onclick="eliminarInput(this)">
                   <i class="fas fa-minus"></i>
               </button>
           </div>
           <div class="col-md-4">
            <label class="col-form-label" style="color: black;">Fecha</label>
               <input id="miInputTexto_${contadorInputs}" class="form-control" value="${nuevaFecha}" type="date" name="fechasA"  required>
           </div>
           <div class="col-md-2">
            <label class="col-form-label" style="color: black;">Hora inicio</label>
               <input id="miInputHora1_${contadorInputs}" class="form-control" value="${hi}" type="time" name="horasI" required>
           </div>
           <div class="col-md-2">
            <label class="col-form-label" style="color: black;">Hora fin</label>
               <input id="miInputHora2_${contadorInputs}" class="form-control" value="${hf}" type="time" name="horasF" required>
           </div>
        
           <div class="col-md-3 ">
            <label class="col-form-label" style="color: black;">Instalación Deportiva</label>
               <select id="miSelect_${contadorInputs}" class="form-control select2"  name="lugaresA" re required readonly>
                   <option value="${ins}" ></option>
               </select>
           </div>
         
       </div>
   `;

           // Crear un elemento div para el grupo de formulario y asignarle el contenido HTML
           var nuevoFormGroup = document.createElement("div");
           nuevoFormGroup.innerHTML = contenidoHTML;

           // Agregar el grupo de formulario al contenedor
           var contenedor = document.getElementById("contenedorInputs");
           contenedor.appendChild(nuevoFormGroup);

           // Obtener referencias a los elementos del grupo de formulario recién creado
           var nuevoSelect = document.getElementById(`miSelect_${contadorInputs}`);
           var nuevoCheckbox = document.getElementById(`checkbox_${contadorInputs}`);

           // Agregar un evento de cambio al nuevo checkbox

           var tipoLugar = 'E'; // Determina el tipo de lugar según el estado del checkbox

           // Realiza la solicitud AJAX para obtener los lugares
           $.ajax({
    url: '/lugares', // Reemplaza con tu URL correcta
    method: 'GET',
    data: {
        tipo_lugar: tipoLugar
    }, // Parámetro de la solicitud
    success: function(response) {
        // Limpiar el select
        $(nuevoSelect).empty();

        // Añadir la opción predeterminada
        var defaultOption = $('<option></option>').attr('value', '').text('Seleccionar...');
        $(nuevoSelect).append(defaultOption);

        // Agregar las opciones al select con estilo de color
        for (var i = 0; i < response.length; i++) {
            var lugar = response[i];

            var option = $('<option></option>').attr('value', lugar.id_lugar).text(lugar.nombre_lugar);
            $(nuevoSelect).append(option);
        }

        // Opcional: establecer el valor del select a una opción específica si es necesario
         $(nuevoSelect).val(ins); // Descomenta y ajusta si tienes una variable 'ins' para preseleccionar un valor
    },
    error: function() {
        console.error('Error al obtener los lugares');
    }
});

           // Llenar el select por defecto según el estado inicial del checkbox
           var tipoLugarInicial = nuevoCheckbox.checked ? 'E' : 'N';
           llenarSelectDesdeTipoLugar(nuevoSelect, tipoLugarInicial);
           $(nuevoSelect).select2();

       }
       // Función para eliminar el grupo de formulario
       function eliminarInput(elemento) {
            elemento.parentNode.parentNode.remove(); // Eliminar el padre del padre del botón (el grupo de formulario)
        }
    </script>

    <script type="text/javascript" th:src="@{/assets/js/selectEspecial.js}"></script>
</body>

</html>