<!doctype html>
<html lang="en">

<head th:replace="layout/head :: head"></head>

<body data-topbar="colored">
    <div id="layout-wrapper">
        <header id="page-topbar" th:replace="layout/topbar :: topbar"></header>
        <div class="vertical-menu" th:replace="layout/menu :: menu"></div>

        <div class="main-content" style="background-color: #FEA500;">
            <div class="page-content">
                <div class="page-title-box" style="background-color: #FEA500; color: white;">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            
                        </div>

                    </div>
                </div>
                <!-- end page title end breadcrumb -->

                <div class="page-content-wrapper">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div th:class="'alert alert-' + (${clase != null} ? ${clase} : info)"
                                            role="alert" th:if="${mensaje != null}">
                                            <h4 class="alert-body" th:text="${mensaje}"></h4>
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <form th:action="${edit} ?@{/UnidadmodF} :@{/UnidadF}" method="post">
                                            <input type="hidden" th:field="${unidadFuncional.id_unidad_funcional}">
                                            <center><h2 >CREAR NUEVA INSTITUCIÓN</h2></center>
                                            <div class="form-group row">



                                                <div class="col-md-5">


                                                    <label class="col-form-label">Nombre de la Institución</label>
                                                    <input class="form-control" type="text"
                                                        th:field="${unidadFuncional.nom_unidad}"
                                                        onkeyup="javascript:this.value=this.value.toUpperCase();"
                                                        style="text-transform:uppercase;" required>
                                                </div>

                                                <div class="col-md-7">
                                                    <input class="form-control" type="hidden">
                                                </div>

                                                <!-- <div class="col-md-5">
                                                    <div>
                                                        <label class="col-form-label">Dirección Funcional</label>
                                                        <select class="selectize"
                                                            th:field="${unidadFuncional.direccionFuncional}">
                                                            <option value="" selected>Seleccionar...</option>
                                                            <option th:each="dfl:${direccionesFuncionales}"
                                                                th:value="${dfl.id_direccion_funcional}"
                                                                th:text="${dfl.nom_direccion}">-</option>
                                                        </select>
                                                    </div>
                                                </div> -->

                                                <!-- <div class="col-md-5">
                                                    <div>
                                                        <label class="col-form-label">Nivel Funcional</label>
                                                        <select class="selectize"
                                                            th:field="${unidadFuncional.nivelFuncional}">
                                                            <option value="" selected>Seleccionar...</option>
                                                            <option th:each="nfl:${nivelesFuncionales}"
                                                                th:value="${nfl.id_nivel_funcional}"
                                                                th:text="${nfl.nom_nivel}">-</option>
                                                        </select>
                                                    </div>
                                                </div> -->

                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-12 text-center">
                                                    <button type="submit" class="btn btn-primary mb-2 "
                                                        th:text="${edit} ?'Actualizar' :'Guardar'">Registrar</button>
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Lista de Instituciones</h4>
                                </div>
                                <div class="card-body">



                                    <table id="datatable" class="table table-bordered dt-responsive nowrap"
                                        style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                        <thead>
                                            <tr>
                                                <th>NOMBRE</th>
                                                <!-- <th>DIRECCION</th>
                                                <th>NIVEL</th> -->
                                                <th>ACCIONES</th>
                                            </tr>
                                        </thead>


                                        <tbody>

                                            <tr th:each="ufl : ${unidadedesFuncionales}" th:if="${ufl.estado != 'X' }">
                                                <td th:text="${ufl.nom_unidad}"></td>
                                                <!-- <td th:text="${ufl.direccionFuncional.nom_direccion}"></td>
                                                <td th:text="${ufl.nivelFuncional.nom_nivel}"></td> -->
                                                <td>
                                                    <div class="btn-group" role="group">

                                                        <a type="button"
                                                            th:href="@{'editar-unidadf/'+${ufl.id_unidad_funcional}}"
                                                            class="btn btn-outline-secondary btn-sm">
                                                            <i class="mdi mdi-pencil"></i>
                                                        </a>
                                                        <a type="button"
                                                            th:attr="onclick=${'MandarURL('+ufl.id_unidad_funcional+')'}"
                                                            class="btn btn-outline-secondary btn-sm"
                                                            data-toggle="tooltip" data-placement="top" title="Eliminar">
                                                            <i class="mdi mdi-trash-can"></i>
                                                        </a>
                                                    </div>


                                                </td>





                                            </tr>



                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>



                </div>
            </div>


            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            2024 © USIC.
                        </div>
                        <div class="col-sm-6">
                            <div class="text-sm-right d-none d-sm-block">
                                UAP <i class="mdi mdi-heart text-danger"></i> DIGITAL
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->


    <!-- /Right-bar -->

    <!-- Right bar overlay-->
    <div class="rightbar-overlay"></div>

    <!-- JAVASCRIPT -->
    <div th:replace="layout/pie :: pie"></div>


    <script>
        function MandarURL(a) {
            swal({
                title: 'Eliminar Registro?',
                type: 'error',
                showCancelButton: true,
                showConfirmButton: false,
                cancelButtonText: "Cancelar",
                html:
                    "<a type='button' class='swal2-styled ' style='display: inline-block; background-color: rgb(48, 133, 214); border-left-color: rgb(48, 133, 214); border-right-color: rgb(48, 133, 214); padding: 13px 35px 13px 35px;' data-original-title='' title='' href='../../../../eliminar-unidad/" + a + "'  >" +
                    "Eliminar" +
                    "</a>",
            }).then().done();
        }
    </script>
</body>

</html>