<!doctype html>
<html lang="en">

<head th:replace="layout/head :: head">
   
</head>

<body data-topbar="colored">
    <div id="layout-wrapper">
        <header id="page-topbar" th:replace="layout/topbar :: topbar"></header>
        <div class="vertical-menu" th:replace="layout/menu :: menu"></div>

        <div class="main-content" style="background-color: #f8bd4f; ;color: white;">
            <div class="page-content">
                <div class="page-title-box" style="background-color:#f8bd4f; color: white;">
                    <div class="container-fluid" >
                        <div class="row align-items-center">
                            <!--<div class="col-md-8">
                                    <h4 class="page-title mb-1">Form Elements</h4>
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">Forms</a></li>
                                    <li class="breadcrumb-item active">Form Elements</li>
                                    </ol>
                                </div>
                                <div class="col-md-4">
                                    <div class="float-right d-none d-md-block">
                                        <div class="dropdown">
                                            <button class="btn btn-light btn-rounded dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="mdi mdi-settings-outline mr-1"></i> Settings
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated">
                                                <a class="dropdown-item" href="#">Action</a>
                                                <a class="dropdown-item" href="#">Another action</a>
                                                <a class="dropdown-item" href="#">Something else here</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">Separated link</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>-->
                        </div>

                    </div>
                </div>
                <!-- end page title end breadcrumb -->

                <div class="page-content-wrapper">
                    <div class="container-fluid">
                        
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div th:class="'alert alert-' + (${clase != null} ? ${clase} : info)"
                                            role="alert" th:if="${mensaje != null}">
                                            <h4 class="alert-body" th:text="${mensaje}"></h4>
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                       
                                            <h1 style="text-align: center;">BIENVENIDO AL SISTEMA</h1>
                                            
                                      
                                    </div>
                                </div>
                            </div>
                        </div>
                     
                  
                     
                    
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>

                    </div>
                </div>
            </div>

            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            2024 © USIC.
                        </div>
                        <div class="col-sm-6">
                            <div class="text-sm-right d-none d-sm-block">
                                UAP <i class="mdi mdi-heart text-danger"></i> DIGITAL
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <div class="rightbar-overlay"></div>
    
 
    
    <div th:replace="layout/pie :: pie"></div>
  
  
 
  
    
</body>

</html>